.profile {
    max-width: 880px;
   /* min-height: 400px;*/
    margin: 0 auto;
    display: flex;
    position: relative;
  /*  align-items: flex-end;*/
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    .profile {
        margin: 0 50px;
    }
}

@media (max-width: 950px) {
    .profile {
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .profile {
        margin: 0 50px;
    }
}

@media (max-width: 520px) {
    .profile {
        margin: 0 19px;
        justify-content: center;
    }
}
/*
@media (max-width: 320px) {
    .profile {
        margin: 0 19px;
    }
}*/