.header__line {
    width: 100%;
    background-image: url(../../../images/Line.svg);
    margin-top: 41px;
    height: 1px;
}


@media (max-width: 320px) {
    .header__line {
        margin-top: 31.6px;
    }
}