.profile__link-edit {
    width: 25px;
    height: 25px;
    margin-left: 19px;
    background: url(../../../images/EditButton.svg);
    background-size: contain;
    margin-top: 26px;
    border: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__link-edit:hover {
    opacity: 0.6;
}

@media (max-width: 420px) {
    .profile__link-edit{
        width: 19px;
        height: 19px;
        margin-top: 21px;
        margin-left: 10px;
    }
}