.cards__date {
    display: flex;
    justify-content: space-between;
    margin: 21px 21px;
}

@media (max-width: 600px) {
    .cards__date {
       margin: 15px 15px;
    }
}

@media (max-width: 320px) {
    .cards__date {
       margin: 21px 15px;
       width: 246px;
    }
}