.profile__activity {
    width: 100%;
    max-width: 294px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    color: #FFF;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: auto;
}

@media (max-width: 320px) {
    .profile__activity {
        font-size: 14px;
        line-height: 17px;
    }
}