.profile__activity {
    width: 100%;
    max-width: 294px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    color: #FFF;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 320px) {
    .profile__activity {
        font-size: 14px;
        line-height: 17px;
    }
}