.profile__zone {
    display: flex;
}

@media (max-width: 720px) {
    .profile__zone {
    flex-direction: column;
    }
}

@media (max-width: 525px) {
    .profile__zone {
    align-items: center;
    }
}