.button {
    width: 149px;
    height: 49px;
    border: 2px solid white;
    display: flex;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
}

.button:hover {
    opacity: 0.6;
}

@media (max-width: 800px) {
    .button {
        width: 119px;
        height: 39px;
        align-self: flex-start;
    }
}

@media (max-width: 525px) {
    .button {
        width: 282px;
        height: 51px;
        margin: auto;
        margin-top: 34px;
    }
}